<h1>New RSS Feeder</h1>

<%= render :partial => 'form',
  :locals => {
    :path => rss_feeders_path,
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Cancel', session[:referer] %>
