<p>
  <b>Created at:</b>
  <%=h @rss_feeder.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @rss_feeder.updated_at %>
</p>


<%= link_to 'Edit', edit_rss_feeder_path(@video_gallery) %> |
<%= link_to 'Back', rss_feeders_path %>