<%# create table of contents%>
<% if @main_assets %>
	<div class="r-box">
		<h2>Contents on this page</h2>
		<div class="r-box-inner">
			<ul>
				<% for asset in @main_assets %>
				<li><a href="<%= site_page_url(@page) %>#<%= asset.resource.property.title_for_anchor%>"><%= asset.resource.property.title %></a></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>
