<%
	# Colors
	middle_hd_bg = "#4E4E4E"
	middle_hd_fg = "#D7DBDE"
	bottom_line = "#73787b"
	h2_font_size = "100%"
	category_active = "#afdedf"
	general_border = "#a5a7a9"
	related_bg = "#f7f7f8"
	category_fg = "#77797c"
%>
<%# Middle part %>
h2#hd-middle {
	background-color:<%=middle_hd_bg%>;
	color:<%=middle_hd_fg%>;
	border-bottom:1px solid <%=bottom_line%>;
	height:20px;
	line-height:20px;
	padding:0 8px;
	margin:0 0 2px;
	text-transform:capitalize;
	font-size:<%=h2_font_size%>;
}
.hd-border{
	background-color:<%=category_active%>;
	height:4px;
	line-height:4px;
	font-size:4px;
}
div#hd-content{
	padding:20px;
	border:1px solid <%=general_border%>;
	border-top:0 none;
}
h1#title{
	margin:-10px 0 15px;
	font-family:"Helvetica Light",Helvetica,Arial,Trebuchet,sans-serif;
	font-size:300%;
	font-weight:normal;
	color:#A6A7AB;
}
#assets{
	margin:0;
}
#assets h2{
	margin:0;
}
#assets div.hr{
	border-top:2px solid #77797c;
	margin:20px 0 30px;
	height:2px;
	line-height:2px;
	font-size:2px;
}
<%# Related boxes (right column) %>
.r-box{
	margin:0 0 10px;
	background-color:<%=related_bg%>;
}
.r-box h2{
	background-color:<%=category_active%>;
	color:<%=middle_hd_bg%>;
	height:20px;
	line-height:20px;
	margin:0;
	padding:0 8px;
	text-transform:capitalize;
	font-size:<%=h2_font_size%>;
}
.r-box-inner{
	border:1px solid <%=general_border%>;
	padding:15px 20px;
	border-top:0 none;
}
.r-box-inner ul{
	margin:0;
}
.r-box-inner ul li{
	list-style:none;
	line-height:22px;
	height:25px;
	display:block;
	margin:0;
}
.r-box-inner ul li a{
	color:<%=category_fg%>;
	display:block;
	width:auto;
	padding:0 0 0 2px;
	margin:0;
	text-decoration:none;
	font-size:100%;
}
.r-box-inner ul li a:link, .r-box-inner ul li a:visited {
}
.r-box-inner ul li a.selected, .r-box-inner ul li a:hover {
	background-color:<%=category_active%>;
}
