body{
	font-family:verdana,arial,helvetica,clean,sans-serif;
}
.graylinks div.hd-content a, .graylinks div.hd-content a:visited{
	color:<%=@palette[:category_fg]%> !important;
}
.flash{
	margin:0 0 15px;
}
<%# Middle part %>
h2.hd-middle {
	background-color:<%=@palette[:middle_hd_bg]%>;
	color:<%=@palette[:middle_hd_fg]%>;
	border-bottom:1px solid <%=@palette[:bottom_line]%>;
	height:20px;
	line-height:20px;
	padding:0 8px;
	margin:0 0 1px;
	text-transform:uppercase;
	font-size:<%=@palette[:h2_font_size]%>;
}
.hd-border{
	background-color:<%=@palette[:wide_line]%>;
	height:4px;
	line-height:4px;
	font-size:4px;
}
div.hd-content{
	padding:20px 15px;
	border:1px solid <%=@palette[:general_border]%>;
	border-top:0 none;
}
div.hd-content a, div.hd-content a:visited{
	color:#0698bc;
}
.vod, .articles, .blog{
	padding: 0 0 20px;
}
.r-box h2{
	background: <%=@palette[:category_active]%> url('/files/layouts/<%=@palette_name%>/hd-gradient.gif') repeat-x top left;
	color:<%=@palette[:middle_hd_fg]%>;
	height:20px;
	line-height:20px;
	margin:0;
	padding:0 8px;
	text-transform:capitalize;
	font-size:<%=@palette[:h2_font_size]%>;
}
.vod{
	padding:0 0 20px;
}
.right-item{
	padding:10px 0 0;
}
.right-item h3{
	margin:0 0 2px 120px;
	color:#1999BC;
	font-size:77%;
}
.right-item h3 a{
	text-decoration:none;
}
.articles h3{
	margin:0 0 0 80px;
}
.right-item p{
	margin:0;
	font-size:77%;
}
.blog .right-item p{
	margin:0 0 5px;
	font-size:89%;
}
.articles .right-description{
	margin:0 0 0 80px;
}
.vod .right-description{
	margin:0 0 0 118px;
}
.vod .right-img{
	float:left;
	margin:-1em 0 0;
	width:112px;
}
.right-i{
	background-color:#cecfd1;
	padding:5px 6px 4px;
}
.vod .right-i{
	width:100px;
	height:60px;
}
.vod .right-i img{
	width:100px;
	height:60px;
}
.articles .right-i{
	float:left;
	width:60px;
}
.articles .right-i img{
	width:60px;
	height:60px;
}
.right-time {
	float:right;
	font-size:88%;
	color:#888;
	margin:3px 0 0;
}
.right-time span {
	font-size:93%;
	color:black;
	font-weight:bold;
}
