/* VOD */
#vod {
	height:100%;
}
#vod-body{
	border:1px solid #c2c3c6;
	border-top: 0 none;
	padding:15px 30px;
}
h2.vod-hd {
	background: #DDD url('/files/<%=@layout%>/images/vod-hd.gif') repeat-x top left;
	height:25px;
	line-height:22px;
	margin:0;
	text-transform:uppercase;
	color:#D7DBDE;
	font-size:107%;
}
#assets{
	float:left;
	width:400px;
	margin:0 20px 0 0;
	height:100%;
}
#assets h1 {
	margin:0;
	height:25px;
	color:#888;
	font-size:107%;
}
#assets #media {
	width:400px;
	height:305px;
}
#assets #media-description {
	background-color:#F5F5F5;
	border:1px solid #eee;
	padding:5px 10px;
	margin:10px 0 0;
}
media-description{
	margin:10px;
}
.media-description h4{
	color: #1999BC;
	font-size:85%;
	margin:20px 0;
}
.media-description p{
	padding:0 0 10px;
	margin:0;
}
#vod-right{
	width:290px;
	margin:0 auto 0 410px;
}
#vod-right h2{
	background: transparent url('/files/vod/images/vod-right-hd.gif') repeat-x top left;
	margin:0;
	padding:0 0 0 8px;
	line-height:25px;
	height:25px;
	color:#707078;
	font-size:100%;
}
#right-list{
	border:1px solid #dcdfdf;
	background-color:#f8fbfa;
	padding:15px 20px;
}
.right-item{
	margin:0 0 12px 0;
}
.right-item h3 {
	margin:0 0 10px;
	color:#1999BC;
	font-size:85%;
}
.right-item p {
	margin:0;
	font-size:88%;
}
.right-description{
	margin:0 0 0 110px;
}
.right-img {
	float:left;
	width:100px;
	margin:0;
	padding:0;
}
.right-time {
	font-size:88%;
	color:#888;
}
.right-time span {
	font-size:93%;
	color:black;
	font-weight:bold;
}

<%
	# Colors
	middle_hd_bg = "#485458"
	middle_hd_fg = "#cecfd1"
	bottom_line = "#73787b"
	h2_font_size = "100%"
	category_active = "#bfdb89"
	general_border = "#a5a7a9"
	related_bg = "#f7f7f8"
	category_fg = "#77797c"
%>
<%# Middle part %>
h2#hd-middle {
	background-color:<%=middle_hd_bg%>;
	color:<%=middle_hd_fg%>;
	border-bottom:1px solid <%=bottom_line%>;
	height:20px;
	line-height:20px;
	padding:0 8px;
	margin:0 0 2px;
	text-transform:capitalize;
	font-size:<%=h2_font_size%>;
}
.hd-border{
	background-color:<%=category_active%>;
	height:4px;
	line-height:4px;
	font-size:4px;
}
