/* VOD */
body{
	font-family:verdana,arial,helvetica,clean,sans-serif;
}
#vod {
	height:100%;
	border:1px solid #c2c3c6;
	border-top: 0 none;
}
#vod-body{
	padding:15px 20px;
}
h2.vod-hd {
	background: #DDD url('/files/<%=@palette_name%>/hd-gradient.gif') repeat-x top left;
	height:25px;
	line-height:22px;
	margin:0;
	text-transform:uppercase;
	color:#D7DBDE;
	font-size:107%;
}
#assets{
	height:100%;
}
#assets h1 {
	margin:0;
	height:25px;
	color:#888;
	font-size:107%;
}
#assets #media {
	width:400px;
	height:305px;
}
.player{
	width:380px;
	height:320px;
	margin:0 auto 10px;
	border:1px solid silver;
	padding:10px 34px;
	background:#F9F9FA url('/files/<%=@layout%>/player_grad.gif') repeat-x top left;
}
.media-description{
	margin:0 auto;
	padding:5px 10px 10px;
	border:1px solid #E4E4E5;
	background:#F9F9FA url('/files/<%=@layout%>/player_grad.gif') repeat-x top left;
	width:430px;
}
.media-description h4{
	color: #525352;
	font-size:100%;
	margin:10px 0;
}
.media-description p{
	padding:0 0 10px;
	margin:0;
	font-size:85%;
	line-height:131%;
}
#vod-right{
	margin:15px 15px 0 0;
}
#vod-right h2{
	background: transparent url('/files/<%=@palette_name%>/hd-gradient.gif') repeat-x top left;
	margin:0;
	padding:0 0 0 8px;
	line-height:25px;
	height:25px;
	color:#707078;
	font-size:100%;
}
#right-list{
	border:1px solid #dcdfdf;
	background-color:#f8fbfa;
	padding:15px;
}
.right-item{
	margin:0 0 12px 0;
}
.right-item h3 {
	margin:0 0 10px;
	color:#1999BC;
	font-size:77%;
}
.right-item p {
	margin:0;
	font-size:77%;
}
.right-description{
	margin:0 0 0 105px;
	font-family:Verdana;
}
.right-img {
	float:left;
	width:100px;
	height:60px;
	margin:0 5px 0 0;
	padding:5px 6px;
	background-color:#cecfd1;
}
.right-time {
	font-size:88%;
	color:#888;
	width:200px;
}
.right-time span {
	font-size:93%;
	color:black;
	font-weight:bold;
}
<%# Middle part %>
h2.hd-middle {
	background-color:<%=@palette[:middle_hd_bg]%>;
	color:<%=@palette[:middle_hd_fg]%>;
	border-bottom:1px solid <%=@palette[:bottom_line]%>;
	height:20px;
	line-height:20px;
	padding:0 8px;
	margin:0 0 1px;
	text-transform:uppercase;
	font-size:<%=@palette[:h2_font_size]%>;
}
.hd-border{
	background-color:<%=@palette[:category_active]%>;
	height:4px;
	line-height:4px;
	font-size:4px;
}
