<%= render :file => "styles/layouts/homepage.css" %>

<%# Middle part %>
/*inactivecaption*/
h2.hd-middle {
	background-color:<%=@palette[:middle_hd_bg]%>;
	color:<%=@palette[:middle_hd_fg]%>;
	border-bottom:1px solid <%=@palette[:bottom_line]%>;
	height:20px;
  min-height:20px;
	line-height:20px;
	padding:0 10px;
	margin:0 4px 1px;
	text-transform:uppercase;
	font-family:arial;
	font-weight:bold;
	font-size:<%=@palette[:h2_font_size]%>;
	position:relative;
}
.hd-border{
	background-color:<%=@palette[:wide_line]%>;
	min-height:4px;
	line-height:4px;
	font-size:4px;
  margin:0 4px;
}
div.hd-content{
	/* padding:15px 20px 20px;*/
	border-top:0 none;
}
div.hd-hr-padding{
	border-left:1px solid <%=@palette[:general_border]%>;
	border-right:1px solid <%=@palette[:general_border]%>;
	padding:0 20px;
}

div.hd-hr{
	border-top:1px solid #c2c3c6;
	min-height:1px;
	line-height:1px;
	font-size:1px;
}
div.video_descr{
	min-height:235px;
	padding:10px 15px;
	border:1px solid #e8e8ea;
	background:white url('/files/layouts/<%=@layout%>/player_grad.gif') repeat-x top left;
	font-size:85%;
	color:#72777b;
	line-height:14px;
}

div.top_women{
	min-height: 230px;
	font-size:85%;
	color:#72777b;
	line-height:14px;
}
.top_women p{
	margin-bottom: 0px;
	text-align: justify;
}
.top_women .header-left {
	float: left;
	padding-top: 0px;
}
.top_women .header-right {
  padding:10px;
	border:1px solid #e8e8ea;
	width: 50%;
	float: right;
  min-height:220px;
}

.top_women embed, .top_women object{
	height:240px;
	width: 320px;
}

div.video_descr p{
	margin:0 0 3px;
}

h2.title{
	margin:10px 0 3px;
	font-family:Arial,Trebuchet,sans-serif;
	font-size:197%;
	font-weight:normal;
	color:#A6A7AB;
}
h3.title{
	margin:0 0 15px;
	font-size:116%;
	color:#8E8F91;
	font-weight:normal;
	font-family:arial;
}
#assets{
	margin:0;
}
#assets h2{
	margin:0 0 4px;
	padding:13px 0 0;
}
div.hr{
  border-top: 0px solid #c2c3c6;
	margin: 0px 0pt 7px;
	min-height:0px;
	line-height:1px;
	font-size:1px;
}
<%# For worldwide homepage %>
.media .right-item{
	margin:0 0 10px;
}
.media h2, .events h2{
	margin:0 0 10px;
}
.media h3{
	color:#1999BC;
	font-size:85%;
	margin:5px 0 5px;
	font-weight:normal;
	line-height:134%;
}
.media h3 a, .media h3 a:visited{
	color:#1999BC;
}
.events h3{
	color:#ff4423;
	margin:0 0 3px 85px;
	font-size:108%;
	font-weight:bold;
	font-family:arial;
}
.events h3 a, .events h3 a:visited{
	text-decoration:none;
	color:#ff4423;
}
.events h3 a:hover{
	text-decoration:underline;
}
.events .right-item{
	margin:0 0 20px;
}
.events .right-description{
	margin:0 0 0 85px;
	font-size:93%;
	line-height:116%;
}
.events .right-description p{
	margin:0 30px 0 0;
	font-size:93%;
	line-height:115%;
}
.events .right-img{
	float:left;
}
#pagination{
	margin:30px 0 10px;
	padding:0 0 5px;
}
#pagination span{
	font-size:70%;
}
.next_page{
	float:right;
}
.prev_page{
	float:left;
}
a.next_page, a.next_page:visited, a.prev_page, a.prev_page:visited{
	color:#0698BC;
	font-size:85%;
	font-weight:bold;
	text-decoration:none;
}

.custom_preview li{
	list-style-position: inside;
}

.r-box h2{
  margin:0 4px;
 }
