<h1>New placeholder</h1>

<%= render :partial => 'form',
  :locals => {
    :path => placeholders_path,
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Back', placeholders_path %>