<h1>Editing Custom Preview</h1>

<%= render :partial => 'form',
  :locals => {
    :path => custom_preview_path(@custom_preview),
    :method => :put,
    :button_text => 'Update'
  } %>

<%= link_to 'Cancel', session[:referer] %>