<h1>New Custom Preview</h1>

<%= render :partial => 'form',
  :locals => {
    :path => custom_previews_path,
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Cancel', session[:referer] %>