<p>
  <b>Inner title:</b>
  <%=h @custom_preview.inner_title %>
</p>

<p>
  <b>Link:</b>
  <%=h @custom_preview.link %>
</p>

<p>
  <b>Created at:</b>
  <%=h @custom_preview.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @custom_preview.updated_at %>
</p>


<%= link_to 'Edit', edit_custom_preview_path(@custom_preview) %> |
<%= link_to 'Back', custom_previews_path %>