<% if @page.children.size == 0  %>
	<%= render :partial => "admin/admin_pannel", 
						 :locals => { :new_asset => { :parent_id => @page, :type => "video", :message => "New Video" } } %>
<% end %>
<%= render :partial => "share/show_assets_in_loop", 
					 :locals => { :container => @page_children, :display => "show"  } %>