div.asset, div.hd-content, .category li, .category, #vod-body, .right-item, .r-box, #hd-no-bottom, #lightbox, .picture_preview, .r-box .vod, .r-box .articles, #homepage_left, #homepage_right, .blog, .external{
	position:relative;
}
div.asset, .right-item, .hd-content ul li, #hd-no-bottom, #homepage_left, #homepage_right, .blog, .vod, .articles, .r-box-inner ul li{
	border:1px dashed silver !important;
	margin:5px 0;
}
.category,.services,.env{z-index:0 !important}
.r-box{
  padding:25px 0;
  border:1px solid green;
  margin:0 -2px;
}
.hr{
  height:1px;
}
#homepage_left, #homepage_right{
	padding-top: 25px;
}
.hd-content ul li{
	margin:0 0 5px !important;
}
.hd-content ul li a{
	border: 0 none !important;
}
.hd-content ul li p{
	margin:0;
	padding:0 0 0 2px;
}
#category .hd-content .admin_panel{
	top:15px;
}
.admin_panel{
	border:1px solid transparent;
	position:absolute;
	top:0;
	right:0;
	display:block;
	background-color:white;
	color:black !important;
	font-weight:bold !important;
	font-size:77%;
	z-index:10;
	background-color:transparent;
}
.admin_panel a{
	border:1px solid maroon !important;
	color:black !important;
	padding: 2px !important;
	text-decoration:none;
	margin:0 2px !important;
}
.admin_panel a:hover{
	background-color:black !important;
	color:white !important;
}
.admin_panel form{
	border:1px solid #00CC00 !important;
	padding: 0 2px !important;
}
li .admin_panel{
	float:right;
	margin:0;
	position:static;
}
li .admin_panel a{
	float:left;
}
.admin_panel .delete{
	color:#F20000 !important;
	background-color:#FFDFDF !important;
	border:1px solid #F20000 !important;
}
.admin_panel .delete a, .admin_panel .delete a:visited{
	color:#F20000 !important;
}
.admin_panel .new{
	color:#00CC00 !important;
	background-color:#CEFFCE !important;
	border:1px solid #00CC00 !important;
	cursor:pointer;
}
.admin_panel .new a, .admin_panel .new a:visited{
	color:#00CC00 !important;
}
.admin_panel .edit{
	color:#0033CC !important;
	background-color:#B9CBFF !important;
	border:1px solid #0033CC !important;
}
.admin_panel .edit a, .admin_panel .edit a:visited{
	color:#0033CC !important;
}
.admin_panel p{
	display:inline;
}
.picture_gallery .admin_panel a{
	font-size:100%;
}
.category .admin_panel{
	top:15px;
}
.category ul li a, .env ul li a{
  display:inline !important;
}
img.handle{
  display:inline !important;
  cursor:move;
  width:13px;
  height:17px;
  padding:0 3px 0 0;
  vertical-align:middle;
}
