#hd{
	background-color: yellow;
	height:100px;
}
.yui-b{
	background-color: BurlyWood;
}
div.first{
	background-color: BlanchedAlmond;
}
.yui-u{
	background-color: gray;
}
#ft{
	background-color: brown;
}
.page_preview{
	border: 1px solid blue;
	padding: 3px;
	margin:2px;
}
.selected{
	background-color: Menu;
}