<div id='flashbox'></div>
<%=
  content = "var FO = {movie:'#{path + name}.swf',width:'#{width}',height:'#{height}',majorversion:'6', build:'4'"
  if flashvars ||= nil
    content += ", flashvars:'#{flashvars}'"
  end
  content += "};UFO.create(FO, '#{id}');"

  javascript_tag(content)
-%>
