<%=
  
    link_to image_tag( "#{path + name}.jpg",
        :alt => "",
        :style=> "position: relative; top: 2px; border: medium none; left: 6px; border:none;", #to fix the shadow background
        :height => "#{height}",
        :width => "#{width}"
      ) , "#{url}"

-%>