<div id="bread"><%= link_to Section.homepage.title, mainpage_url %><span class="slash">/</span><%= link_to @section.title, section_first_page_url(@section) %><span class="slash">/</span><%= link_to @page.resource.property.title, site_page_url(@page) %></div>
