<h1>Editing page</h1>

<%= render :partial => 'form',
  :locals => {
    :path => page_path(@page),
    :method => :put,
    :button_text => 'Update'
  } %>

<%= link_to 'Cancel', session[:referer] %>
