<h1>Editing section</h1>

<%= render :partial => 'form',
  :locals => {
    :path => section_path(@section),
    :method => :put,
    :button_text => 'Update'
  } %>

<%= link_to 'Show', section_path(@section) %> |
<%= link_to 'Back', sections_path %>