.article img.article-img{
	position:relative;
	top:-25px;
}
.article h2{
	margin:0;
	color:#51515B;
	font-size:197%;
	position:relative;
	top:25px;
	left:70px;
	font-weight:normal;
}
.article h3{
	position:relative;
	top:-43px;
	margin:0 0 -25px;
	padding:0 0 0 70px;
	font-size:131%;
	color:#8E8F91;
	font-weight:normal;
}
