<%# Category -%>
.tinyleft{
	float:left;
	margin: 0 10px 0 0;
}
.tinyright{
	float:right;
	margin: 0 0 0 10px;
}
.category{
  background-color:<%=@palette[:category_bg]%>;
	margin:0 0 10px;
  z-index:-1;
}
.category .hd-border{
  margin:0 4px;
}
.category h2{
	background-color:<%=@palette[:category_hd_bg]%>;
	color:<%=@palette[:category_hd_fg]%>;
	min-height:20px;
	line-height:22px;
	padding:0 10px;
	margin:0 4px 1px;
	text-transform:uppercase;
	font-family:arial;
	font-weight:bold;
	font-size:<%=@palette[:h2_font_size]%>;
	border-bottom:1px solid <%=@palette[:bottom_line]%>;
}
.category .hd-content{
	margin:0;
	padding:2px 10px 4px;
  border:0 none;
}
.category ul{
	margin:0;
	padding:0;
}
.category ul li{
	list-style:none;
	display:block;
	margin:0;
	padding:0;
	height:90%;
}
.category ul li a, .category ul li a:visited{
	color:<%=@palette[:category_fg]%>;
	display:block;
	width:auto;
  height:100%;
	padding:5px 6px;
	margin:0;
	text-decoration:none;
	font-size:85%;
}
.category ul li a.last{
	border:0 none;
}
.category ul li a.selected, .category ul li a:hover{
	background-color:<%=@palette[:category_active]%>;
}
.category .divider{
	background-color:white;
	border-top:1px solid <%=@palette[:category_divider]%>;
	min-height:2px;
	line-height:2px;
	font-size:1px;
}
<%# Environment -%>
.env{
	margin:10px 0;
  z-index:-1;
}
.env h2{
	min-height:20px;
	line-height:20px;
	padding:0 10px;
	text-transform:uppercase;
	font-size:<%=@palette[:h2_font_size]%>;
	background-color:#CECFD2;
	color:#87898C;
	margin:0 4px;
}
.env .hd-content{
	margin:0;
	padding:5px 10px 2px !important;
	border:0 none;
}
.env ul{
	margin:0;
	padding:0;
}
.env ul li{
	list-style:none;
	display:block;
	margin:0;
	padding:0;
	height:100%;
}
.env ul li a, .env ul li a:visited{
	color:<%=@palette[:category_fg]%>;
	width:auto;
  height:100%;
	text-decoration:none;
	font-size:77%;
	margin:0 0 2px;
	padding:0;
	display:block;
}
.env ul li a.last{
	border:0 none;
}
.env ul li a.selected, .env ul li a:hover{
	background-color:#CECFD2;
}
.env .env-anchor{
	min-height:1px;
	line-height:1px;
	font-size:1px;
}
.env .divider{
	display:none;
}
.env .hd-border{
	display:none;
}
#top-env{
	position:relative;
	background: #d1d2d4 url(/files/layouts/env.gif) right top no-repeat;
	*height:21px;
	min-height:21px;
	line-height:20px;
	padding:0 0 0 10px;
	margin:0 4px;
}
#top-env a, #top-env a:visited{
	font-size:85%;
	color:#78797B;
	font-family:arial;
	font-weight:normal;
	text-decoration:none;
}
#top-env a.title, #top-env a.title:visited{
	font-weight:bold;
}
#top-env .env a, #top-env .env a:visited{
	color:<%=@palette[:category_fg]%>;
}
#top-env .env{
	position:absolute;
	top:15px;
	left:70px;
	padding:5px;
	width:168px;
	border:1px solid #CFD0D2;
	z-index:20;
  background:#F5F5F5 none;
  margin:0;
}
<%# Services -%>
.services{
  z-index:-1;
}
.service{
	padding:10px;
	margin:0;
	font-size:77%;
}
.services h2{
	background-color:<%=@palette[:services_hd_bg]%>;
	color:<%=@palette[:services_hd_fg]%>;
	border-bottom:1px solid <%=@palette[:services_bottom_line]%>;
	min-height:19px;
	line-height:19px;
	padding:0 8px;
	margin:0 4px 1px;
	text-transform:uppercase;
	font-size:<%=@palette[:h2_font_size]%>;
}
.s-border{
	background-color:<%=@palette[:services_bottom_line]%>;
	min-height:4px;
	line-height:4px;
	font-size:4px;
  margin:0 4px;
}
.service h3{
	margin:0;
}
.service h3.blog{
	margin: 30px 0 0;
}
.service h4{
	margin:0;
	color:black;
	font-weight:bold;
}
.service p{
	margin:0;
	font-size:110%;
}
.service form{
	margin: 8px 0 0;
}
.service form input{
	background-color:#edf5f9;
	border:1px solid #c2c3c6;
	color:#4e4e4e;
}
.service form input#email{
	min-height:20px;
	width:100px;
	padding:3px 0 0;
}
.service form input.subscribe{
	*width:48px;
	min-width:48px;
	min-height:17px;
	margin:0 0 2px;
	*margin:0 4px;
	padding:0 0 3px;
	cursor:pointer;
	font-size:100%;
	*font-size:85%;
	font-family:verdana;
}
.service form p{
	display:inline;
}
<%# Bread crumbs -%>
div#bread{
	margin:-14px 0pt -17px;
}
div#bread a, div#bread a:visited{
	color:#acadad;
	font-family:verdana;
	font-size:77%;
	font-weight:bold;
	text-decoration:none;
}
span.slash{
	color:#666666;
	font-size:60%;
	font-weight:bold;
	padding:0 5px;
}

.external-link{
	margin:0 7px 0 0;
}
