<%# Category & Environment -%>
.category, .env{
	background-color:<%=@palette[:category_bg]%>;
	margin-bottom:15px;
}
.category h2, .env h2{
	background-color:<%=@palette[:category_hd_bg]%>;
	color:<%=@palette[:category_hd_fg]%>;
	height:20px;
	line-height:20px;
	padding:0 8px;
	margin:0 0 1px;
	text-transform:uppercase;
	font-size:<%=@palette[:h2_font_size]%>;
}
.category .hd-content, .env .hd-content{
	margin:0;
	padding:2px 10px 10px;
	border:1px solid <%=@palette[:general_border]%>;
	border-top:0 none;
}
.category ul, .env ul{
	margin:0;
}
.category ul li, .env ul li{
	list-style:none;
	display:block;
	margin:0;
	padding:0;
}
.category ul li a, .env ul li a{
	color:<%=@palette[:category_fg]%>;
	display:block;
	width:auto;
	padding:6px 3px;
	margin:0;
	text-decoration:none;
	font-size:93%%;
}
.category ul li a:link, .category ul li a:visited, .env ul li a:link, .env ul li a:visited{
}
.category ul li a.last, .env ul li a.last{
	border:0 none;
}
.category ul li a.selected, .category ul li a.selected{
	font-weight:bold;
}
.category ul li a.selected, .category ul li a:hover{
	background-color:<%=@palette[:category_active]%>;
}
.env ul li a.selected, .env ul li a:hover{
	background-color:#CECFD2;
}
.env .divider{
	display:none;
}
.category .divider, .env .divider{
	background-color:white;
	border-top:1px solid #E0E1E2;
	height:2px;
	line-height:2px;
	font-size:1px;
}
.env{
		background-color:#F5F5F5;
}
.env h2{
	background-color:#CECFD2;
	color:#87898C;
	margin:0;
}
.env .hd-content{
	border:1px solid #CECFD2;
}
.env ul li a{
	font-size:77%;
	margin:3px 0 0;
	padding:0;
}
.env .hd-border{
	display:none;
}
<%# Services -%>
.service{
	padding:10px;
	border:1px solid #c2c3c6;
	border-top:0 none;
}
.services h2{
	background-color:<%=@palette[:services_hd_bg]%>;
	color:<%=@palette[:services_hd_fg]%>;
	border-bottom:1px solid <%=@palette[:services_bottom_line]%>;
	height:20px;
	line-height:20px;
	padding:0 8px;
	margin:0 0 1px;
	text-transform:uppercase;
	font-size:<%=@palette[:h2_font_size]%>;
}
.services h3{
	margin:0;
	color:#0191AF;
	font-size:82%;
}
.s-border{
	background-color:<%=@palette[:services_bottom_line]%>;
	height:4px;
	line-height:4px;
	font-size:4px;
}