<%# Header for pages %>
#doc2{position:relative;}
#header{
	position:relative;
	height:130px;
}
#header h1{
	padding:0;
	margin:0;
	color:#B7B9BA;
	font-size:93%;
	letter-spacing:0.9px;
	font-family:arial;
	background-color:#e5e6e8;
	width:100%;
	text-align:center;
	line-height:20px;
}
#header h1#logo{
	position:absolute;
	top:40px;
	left:0;
	background:transparent url(/files/layouts/logo.jpg) 0 0;
  width:371px;
  height:64px;
}
#header #logo a{
  text-indent:-9999px;
  display:block;
  height:100%;
  width:100%;
}
#pfooter #choose-lang{
	position:absolute;
	font-size:77%;
	top:1px;
	right:0;
}
#pfooter #choose-lang select{
	background-color:#F5F5F5;
	border:1px solid #76797D;
	color:#64676A;
	*font-size:110%;
}
#pfooter #choose-lang option{
	color:#64676A;
}
#pfooter #links a, #pfooter #links a:visited,#pfooter #choose-lang a, #pfooter #choose-lang a:visited{
	font-size:100%;
	color:#1999BC;
	padding:0 0 2px;
	text-decoration:none;
}
#pfooter #links{
	color:#1999BC;
	position:absolute;
	top:22px;
	right:0;
	font-size:73%;
}
#pfooter #search{
	position:absolute;
	top:56px;
	right:0;
	font-size:77%;
	font-family:verdana;
}
#pfooter #search form{
	margin: 8px 0 0;
}
#pfooter #search form input{
	background-color:#edf5f9;
	border:1px solid #c2c3c6 !important;
	color:#4e4e4e;
}
#pfooter #search form input#SearchString{
	*width:112px;
	*height:13px;
	min-width:112px;
	min-height:11px;
}
#pfooter #search form input#B1{
	min-width:48px;
	*width:48px;
	min-height:17px;
	margin:0 0 1px;
	*margin:2px 0 0;
	padding:0 0 2px;
	cursor:pointer;
	font-size:100%;
	*font-size:85%;
	font-family:verdana;
}
#pfooter #search form p{
	display:inline;
}
#pfooter #search #B1{
}
#pfooter #top-menu{
	position:absolute;
	top:95px;
	right:0;
	padding:0 5px 0;
	margin:0;
	line-height:15px;
	border:1px solid #d4d5d7;
	background-color:#f5f5f5;
}
#pfooter #top-menu a{
	text-decoration:none;
	font-size:73%;
	color:#64676a;
	font-weight:bold;
	display:block;
	float:left;
}
#top-menu .pipe{
	border-left:1px solid #d4d5d7;
	margin:0 3px 0 6px;
	float:left;
}
<%# Footer -%>
#ft{
	text-align:center;
	font-size:77%;
	margin:15px 31px 15px 201px;
	color:#1999BC;
}
#ft_copyright{
	color:#B9BBBD;	
	margin-top:3px;
}
