<%# Related boxes (right column) %>
.r-box{
	margin:0 0 10px;
}
.r-no-bg{
	background-color:transparent !important;
}
.r-box h2{
	background:<%=@palette[:category_active]%> url('/files/layouts/<%=@palette_name%>/hd-gradient.gif') repeat top left;
	border:1px solid <%=@palette[:rbox_border]%>;
	color:<%=@palette[:middle_hd_bg]%>;
	min-height:18px;
	line-height:18px;
	margin:0;
	padding:0 8px;
	font-size:<%=@palette[:h2_font_size]%>;
	border-left:1px solid <%=@palette[:category_active]%>;
	border-right:1px solid <%=@palette[:category_active]%>;
}
.r-box-inner{
	border:1px solid <%=@palette[:general_border]%>;
	padding:8px;
	border-top:0 none;
}
.r-box-inner ul{
	margin:0 0 0 15px;
}
.r-box-inner ul li{
	padding:3px 3px 3px 0;
	margin:0;
	list-style:square outside url(/files/layouts/bullet.gif);
}
.r-box-inner ul li a{
	color:#1999BC;
	width:auto;
	padding:0;
	margin:0;
	text-decoration:none;
	font-size:77%;
	border-bottom:1px solid white;
}
.r-box-inner ul li a:link, .r-box-inner ul li a:visited {
	color:#1999BC;
}
.r-box-inner ul li a.selected, .r-box-inner ul li a:hover {
	border-bottom:1px solid #1999BC;
}
.r-box-inner a{
	text-decoration:none;
	font-size:77%;
	width:auto;
	padding:0 5px 0 0;
	margin:0;
}
.r-box-inner a:hover{
	border-bottom:1px solid #1999BC;
}
.r-box-inner p {
	margin:0;
  line-height:1px;
  font-size:1px;
}