<%#	Top menu %>
#top-menu{
	float:right;
}
#top-menu ul{
	padding:5px;
	margin:0;
}
#top-menu ul li{
	display:inline;
}
#top-menu li a, #top-menu li.pipe{
	padding:0 5px;
	text-decoration:none;
	font-size:93%;
	color:#888;
}
#top-menu li.pipe{
	padding:0;
}
#top-env{
	margin:10px 0 0;
}