<h1>Editing link</h1>

<%= render :partial => 'form',
  :locals => {
    :path => link_path(@link),
    :method => :put,
    :button_text => 'Update'
  } %>

<%= link_to 'Cancel', session[:referer] %>
