<% if logged_in? %>
	<p style="color: green"><%= flash[:notice] %></p>
		<%= render :partial => "admin/user_options" %>
		<%= render :partial => "admin/admin_pannel",
							 :locals => { :new_asset => { 
															:parent_id => @page.parent,
															:type => "page",
															:message => "New page",
															:classes => YAML.dump({
																:page => :web_page
															})
														},
														:edit_asset => @page,
														:delete_asset => @page,
														:classes => YAML.dump({
															:page => :web_page
														})
													} %>
<% end %>		
<div id="header">
	<h1>Kabbalah.info - Bnei Baruch Kabbalah Education &amp; Research Institute</h1>
	<div id="links">
		<a href="http://www.kab.co.il/" onclick="javascript:urchinTracker('/outgoing/hebrew');">קבלה</a> |
		<a href="http://www.kabbalah.info/rus/" onclick="javascript:urchinTracker('/outgoing/russian');">Каббала</a> |
		<a href="http://www.kabbalah.info/spanishkab/" onclick="javascript:urchinTracker('/outgoing/spanish');">Cabalá (esp)</a>
	</div>
	<div id="top-menu">
		<a href="/">Home</a>
		<span class="pipe">&nbsp;</span>
		<a href="/engkab/abouteng.htm">About</a>
		<span class="pipe">&nbsp;</span>
		<a href="/engkab/worldwide_classes.htm">Contact</a>
		<span class="pipe">&nbsp;</span>
		<a href="https://www.kabbalah.info/donations/English" onclick="javascript:urchinTracker('/outgoing/donations');">Donations</a>
		<span class="pipe">&nbsp;</span>
		<a href="http://files.kab.co.il/files/eng_o_norav_2007-10-01_bnei-baruch-media-kit.pdf" onclick="javascript:urchinTracker('/download/media-kit');">Media Kit</a>
	</div>
	<div id="choose-lang">
		<form id="jump" action="">
			<p><select id="lang" onchange="value=this.options[this.selectedIndex].value; if (value != 0) top.location=value;">
				<option>Choose Your Language</option>
				<option value="http://www.kabbalah.info" onclick="javascript:urchinTracker('/outgoing/english');">Kabbalah — English</option>
				<option value="http://www.kabbalah.info/rus" onclick="javascript:urchinTracker('/outgoing/russian');">Каббала — Русский</option>
				<option value="http://www.kab.co.il" onclick="javascript:urchinTracker('/outgoing/hebrew');">קבלה — עברית</option>
				<option value="http://www.kabbalah.info/spanishkab/" onclick="javascript:urchinTracker('/outgoing/spanish');">Cabalá — Español</option>
				<option value="http://www.kabbalah.info/frenchkab/" onclick="javascript:urchinTracker('/outgoing/french');">Cabale — Français</option>
				<option value="http://german.kabbalah.info" onclick="javascript:urchinTracker('/outgoing/german');">Kabbalah — Deutsch</option>
				<option value="http://www.kabbalah.info/italykab/index_italy.htm" onclick="javascript:urchinTracker('/outgoing/italian');">Kabbalah — Italiano</option>
				<option value="http://www.kabbalah.info/arabickab/index_arabic.htm" onclick="javascript:urchinTracker('/outgoing/arabic');">قبالاه , كابالاه  —عربي </option>
				<option value="http://www.kabbalah.info/farsikab/index.htm" onclick="javascript:urchinTracker('/outgoing/farsi');">کبالا — فارسی</option>
				<option value="http://www.kabbalah.info/bulg/index.htm" onclick="javascript:urchinTracker('/outgoing/bulgarian');">Кабала — Български</option>
				<option value="http://www.kabbalah.info/hung/index.htm" onclick="javascript:urchinTracker('/outgoing/hungarian');">Kabbala — Magyar</option>
				<option value="http://www.kabbalah.info/dutchkab/index.html" onclick="javascript:urchinTracker('/outgoing/dutch');">Kabbala — Netherlands</option>
				<option value="http://www.kabbalah.info/polakab/index_pola.htm" onclick="javascript:urchinTracker('/outgoing/polish');">Kabały — Polski</option>
				<option value="http://www.kabbalah.info/finkab/index_fi.htm" onclick="javascript:urchinTracker('/outgoing/finland');">Kabbala — Suomi</option>
				<option value="http://www.kabbalah.info/latvikab/index_lat.htm" onclick="javascript:urchinTracker('/outgoing/latvian');">Kabala — Latviešu</option>
				<option value="http://www.kabbalah.info/estonkab/index_eston.html" onclick="javascript:urchinTracker('/outgoing/estonian');">Kabbala — Eesti</option>
				<option value="http://www.kabbalah.info/brazilkab/index_braz.htm" onclick="javascript:urchinTracker('/outgoing/portugues');">Kabbalah — Português</option>
				<option value="http://www.kabbalah.info/ukrkab/index_ukr.htm" onclick="javascript:urchinTracker('/outgoing/ukranian');">Каббала — Український</option>
				<option value="http://www.kabbalah.info/turkishkab/" onclick="javascript:urchinTracker('/outgoing/turkish');">Kabala — Türkçe</option>
				<option value="http://www.kabbalah.info/yidishkab/index_yidish.htm" onclick="javascript:urchinTracker('/outgoing/yiddish');">קבלה - יידיש</option>
				<option value="http://www.kabbalah.info/japanese/indexj.htm" onclick="javascript:urchinTracker('/outgoing/japanese');">語本日 — ラバカ</option>
				<option value="http://www.kabbalah.info/greekab/index.htm" onclick="javascript:urchinTracker('/outgoing/greek');">Καβαλα — Greek</option>
				<option value="http://www.kabbalah.info/geokab/index_geo.htm" onclick="javascript:urchinTracker('/outgoing/georgian');">ქაბალა — Georgian</option>
				<option value="http://www.kabbalah.info/litakab/index_lita.htm" onclick="javascript:urchinTracker('/outgoing/lithuanian');">Kabala — Lietuvių</option>
				<option value="http://www.kabbalah.info/amharickab/index_amharic.htm" onclick="javascript:urchinTracker('/outgoing/amharic');"> — Amharic</option>
				<option value="http://www.kabbalah.info/swedish/index.htm" onclick="javascript:urchinTracker('/outgoing/swedish');">Kabbalah — Swedish</option>
				<option value="http://www.kabbalah.info/romkab/index.htm" onclick="javascript:urchinTracker('/outgoing/romanian');">Cabala — Romanian</option>
				<option value="http://www.kabbalah.info/croatian/index.htm" onclick="javascript:urchinTracker('/outgoing/croatian');">Kabala — Hrvatski</option>
				<option value="http://www.kabbalah.info/norwegian/" onclick="javascript:urchinTracker('/outgoing/norwegian');">Kabbalah — Norsk</option>
			</select></p>
		</form>
	</div>
	<div id="search">
		<!-- Google CSE Search Box Begins  -->
		<form action="http://www.kabbalah.info/files/html/google-results.html" id="searchbox_018092606581918201401:kc0kodzdbpc">
		  <p><input type="hidden" name="cx" value="018092606581918201401:kc0kodzdbpc" />
		  <input type="hidden" name="cof" value="FORID:11" />
		  <input type="text" id="SearchString" name="q" size="25" />
		  <input type="submit" id="B1" name="sa" value="Search" /></p>
		</form>
		<!-- Google CSE Search Box Ends -->
	</div>
	<div id="logo"><%= link_to image_tag( "/files/layouts/logo.jpg", :alt => "Kabbalah", :title => "Kabbalah"), section_first_page_url(Section.homepage) %></div>
</div>
