<div id="input_form">
<%= error_messages_for :homepage, :property, :image_storage %>

<% form_for(:homepage, :url => path, :html => {:method => method, :multipart => true }) do |f| %>

<%= render :partial => 'share/set_property_fields' %>

<%= render :partial => 'share/set_asset_fields' %>


<div id="submit">
    <%= submit_tag button_text %>
</div>
<% end %>
</div>
