<h1>Editing homepage</h1>

<%= render :partial => 'form',
  :locals => {
    :path => homepage_path(@homepage),
    :method => :put,
    :button_text => 'Update'
  } %>

<%= link_to 'Cancel', session[:referer] %>
