<p>
  <b>Created at:</b>
  <%=h @homepage.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @homepage.updated_at %>
</p>


<%= link_to 'Edit', edit_homepage_path(@homepage) %> |
<%= link_to 'Back', homepages_path %>