<%#Displaying a single link in a list of links -%>
<% if !asset.resource.link.empty? || logged_in? -%>
	<li>
		<a target="_blank" href="<%= asset.resource.link %>"><%= asset.resource.property.title %></a>
		<div class="divider">&nbsp;</div>
		<%= render :partial => "admin/admin_pannel", 
			 :locals => { :edit_asset => asset,
			 							:delete_asset => asset,
		 								:classes => YAML.dump({
		 									:link => :link
	 										})
									} %>
	</li>
<% end -%>
