<h1>New Section Preview</h1>

<%= render :partial => 'form',
  :locals => {
    :path => section_previews_path,
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Cancel', session[:referer] %>
