<p>
  <b>Number of items:</b>
  <%=h @section_preview.number_of_items %>
</p>

<p>
  <b>Created at:</b>
  <%=h @section_preview.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @section_preview.updated_at %>
</p>


<%= link_to 'Edit', edit_section_preview_path(@section_preview) %> |
<%= link_to 'Back', section_previews_path %>