<h1>New video_gallery</h1>

<%= render :partial => 'form',
  :locals => {
    :path => video_galleries_path,
    :method => :post,
    :button_text => 'Create'
  } %>

<%= link_to 'Cancel', session[:referer] %>
