<h1>Editing category</h1>

<%= render :partial => 'form',
  :locals => {
    :path => category_path(@category),
    :method => :put,
    :button_text => 'Update'
  } %>

<%= link_to 'Show', category_path(@category) %> |
<%= link_to 'Back', categories_path %>