<p>
  <b>Title:</b>
  <%=h @category.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @category.description %>
</p>

<p>
  <b>Created at:</b>
  <%=h @category.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @category.updated_at %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>