<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title><%= @page.resource.property.title %></title>
	<meta name="description" content="<%= @page.resource.property.short_description %>" />
	<meta name="keywords" content="<%= @page.resource.keywords %>" />
	<%= stylesheet_link_tag formatted_style_url(@section, 'default', :css), :media => "screen", :title => "no title", :charset => "utf-8" %>
	<%= javascript_include_tag 'windows_media_object' if @page_children %> 
</head>
<body>
<div id="doc2" class="yui-t2"><%# 950px Menu 180px on left %>
	<div id="hd"><%# Header%>
		<% if logged_in? %>
		<p style="color: green"><%= flash[:notice] %></p>
			<%= render :partial => "admin/user_options" %>
			<%= render :partial => "admin/admin_pannel",
								 :locals => { :new_asset => { 
																:parent_id => @page.parent,
																:type => "page",
																:message => "New page"
															},
															:edit_asset => @page,
															:delete_asset => @page } %>
			<% end %>		
		<img src="/files/vod/images/header_tmp.gif" width="950" height="92" alt="Header Tmp" />
	</div>

	<div id="bd"><%# Body%>
		<div id="yui-main">
			<div class="yui-b">
				<div class="yui-g"><%# First line with horizontal menu %>
					<div id="top-menu">
						<ul>
							<li><a href="#">Home</a></li>
							<li class="pipe">|</li>
							<li><a href="#">Vision</a></li>
							<li class="pipe">|</li>
							<li><a href="#">Contact Us</a></li>
							<li class="pipe">|</li>
							<li><a href="#">About</a></li>
							<li class="pipe">|</li>
							<li><a href="#">Donation</a></li>
							<li class="pipe">|</li>
							<li><a href="#">Press Kit</a></li>
						</ul>
					</div>
				</div>
				<div class="yui-u yui-gc"><%# Content part %>
					<div class="yui-u first">
					<div id="unit66"><%# Middle 66% part %>
						<h2 id="hd-middle"><%= @section.title%></h2>
						<div id="hd-content">
							<h1 id="title"><%= @page.resource.property.title %></h1>
							<%= yield  %>
						</div>
						<br class='clear' />
					</div></div>
					<div class="yui-u">
					<div id="unit33"><%# 33% right part %>
						<div class="r-box">
							<h2>Contents</h2>
							<div class="r-box-inner">
								<ul><li><a href="#">Link 1</a></li><li><a href="#">Link 2</a></li><li><a href="#">Link 3</a></li><li><a href="#">Link 4</a></li></ul>
							</div>
						</div>
						<div class="r-box">
							<h2>Related Material</h2>
							<div class="r-box-inner">
								<ul><li><a href="#">Link 1</a></li><li><a href="#">Link 2</a></li><li><a href="#">Link 3</a></li><li><a href="#">Link 4</a></li></ul>
							</div>
						</div>
					</div></div>
				</div>
			</div>
		</div>
		<div class="yui-b"><%# Navigation %>
			<div id="top-env">
				<img src="/files/vod/images/env.gif" width="180" height="13" alt="Env" />
			</div>
			<div id="category"><%# first menu %>
				<h2>Categories</h2>
				<% if @pages %>
					<%# List of pages (###_list.rhtml)%>
					<ul>
					<%= render :partial => "share/show_assets_in_loop",
										 :locals => { :container => @pages, :display => "list" } %>
					</ul>
					<%= render :partial => "admin/admin_pannel", 
							 				:locals => { :new_asset => { :parent_id => @page.parent, 
							 																		 :type => "page", 
							 																		 :message => "New Page" } } %>
				<% end %>
			</div>
			<div class="service">
				<h2>Services</h2>
				<div>
					<h3>Kabbalah Today Subscription</h3>
				</div>
			</div>
		</div>
	</div>

	<div id="ft"><%# Footer %>
		Footer is here.
	</div>

</div>
</body>
</html>
