<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= @page.resource.property.title %></title>
	<meta name="description" content="<%= @page.resource.property.short_description %>" />
	<meta name="keywords" content="<%= @page.resource.keywords %>" />
	<%= stylesheet_link_tag 'admin', :media => "screen", :title => "no title", :charset => "utf-8" if logged_in? %>
	<%= stylesheet_link_tag formatted_style_url(@section, 'default', :css), :media => "screen", :title => "no title", :charset => "utf-8" %>
 	<%= javascript_include_tag 'prototype' %>
	<% if @page.has_picture_gallery? -%>
	 	<%= javascript_include_tag 'highslide' %>
		<%= stylesheet_link_tag 'highslide', :media => "screen", :title => "no title", :charset => "utf-8" %>
		<script type="text/javascript">    
	    hs.graphicsDir = '/files/images/highslide/';
		</script>
	<% end -%>
	<%= javascript_include_tag 'windows_media_object' if @page.children %> 
	<%= javascript_include_tag 'embed' %> 
</head>
<body>
<div id="doc2" class="yui-t2"><%# 950px Menu 180px on left %>
	<div id="hd"><%# Header%>
		<%= render :partial => "engkab/global/header" %>
	</div>

	<div id="bd"><%# Body%>
		<div id="yui-main"><%# Right Side %>
			<div class="yui-b">
				<div class="yui-u yui-ge"><%# Content part %>
					<div class="yui-u first">
						<h2 class="hd-middle"><%= @section.title%></h2>
						<div class="hd-border">&nbsp;</div>
						<div class="hd-content">
							<h1 id="title"><%= @page.resource.property.title %></h1>
							<%= yield %>
						</div>
						<div class="clear">&nbsp;</div>
					</div>
					<div class="yui-u">
						<%= yield :sidebar %>
					</div>
				</div>
			</div>
		</div>
		<div class="yui-b"><%# Navigation %>
			<div id="top-env">
				<a href="#env">Choose Environment</a>
			</div>
			<%= yield :content_menu %>
			<div class="services">
				<h2>Services</h2>
				<div class="s-border">&nbsp;</div>
				<div class="service">
					<h3>Kabbalah Today Subscription</h3>
				</div>
			</div>
		</div>
	</div>
	<%= javascript_include_tag 'top_env' %> 

	<div id="ft"><%# Footer %>
		Footer is here.
	</div>

</div>
</body>
</html>
